---
layout: page
title: "About"
description: "Hey, this is AlphaJx."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        十四行诗.
    </blockquote>
    我绝不承认两颗真心的结合<br>
    有任何障碍。这样的爱不是真爱<br>
    若是遇有变节的机会就改变，<br>
    或是被强势剥离就屈服：<br>
    <br>
    哦，那不是爱！爱是坚定的烽火，<br>
    凝视着狂涛而不动摇；<br>
    爱是向导迷航船只的明星，<br>
    高度可测，实价无量。<br>
    <br>
    爱不受时光影响，即使红唇粉颊<br>
    终会被岁月的镰刀砍伐；<br>
    爱不随分分秒秒、日日月月改变，<br>
    爱不畏时间磨炼，直到末日尽头。<br>
    <br>
    如果有人可证明我所解不实，<br>
    我从未写过，而无人曾真爱过。<br>

    <p style="text-align:right;">
    -- Shakespeare
    </p>
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        The Sonnets.
    </blockquote>

    <p>
    Let me not to the marriage of true minds<br>
    Admit impediments. Love is not love<br>
    Which alters when it alteration finds,<br>
    Or bends with the remover to remove:<br>
    <br>
    O, no! it is an ever-fix`ed mark,<br>
    That looks on tempests and is never shaken;<br>
    It is the star to every wand'ring bark,<br>
    Whose worth's unknown, although his heighth be taken.<br>
    <br>
    Love's not Time's fool, though rosy lips and cheeks<br>
    Within his bending sickle's compass come;<br>
    Love alters not with his brief hours and weeks,<br>
    But bears it out even to the edge of doom:<br>
    <br>
    If this be error and upon me proved,<br>
    I never writ, nor no man ever loved. <br>
    </p>

    <p style="text-align:right;">
    -- Shakespeare
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
